/* .container_fluid {
    background-color: #e6f5fa;
} */

.login_container {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.login_page {
    width: 400px;
    height: 550px;
    /* margin: 30px 30px 30px 200px; */
    margin-top: 20px;
    border: 2px solid gray;
    box-shadow: 5px 10px 10px gray; 
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}   

.login_img {
    border-style: none;
    display: flex;
    justify-content: center;
}

.login_img img {
    width: 190px;
    height: 190px;
}

.item1 {
    font-size: 40px; 
    margin-top: 0; 
    margin-bottom: 50px;
    text-align: center;
}

.item2 {
    margin-top: 10px;
} 

.item3 {
    margin-top: 0;
}

#email {
    border-style: none;
    background-color: gainsboro;
    text-align: center;
    color: rgba(27, 23, 23, 0.441);
    width: 200px;
    height: 50px; 
    margin: 10px 95px;
}

#password {
    border-style: none;
    background-color: gainsboro;
    text-align: center;
    color: rgba(27, 23, 23, 0.441);
    width: 200px;
    height: 50px;
    margin: 10px 95px;
}

.item4 {
    text-align: center;
}

.item5 {
    /* border-radius: 10px;
    background-color: #0d6efd;
    color: white; */
    text-align: center;
    align-content: center; 
    width: 150px;
    height: 40px;
    margin: 20px 123px;  
} 

.submit_btn {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.forgetPW {
    color: orange;
    text-decoration: none; 
}

.item6 {
    color: orange;
    text-align: center;
    text-decoration: none; 
}

.signin_btn {
    text-decoration: none; 
}
